class Pet < Formula
  desc "Unofficial distribution of pet CLI"
  homepage "https://github.com/knqyf263/pet"
  url "https://github.com/knqyf263/pet/releases/download/{{name}}/{{binary}}"
  sha256 "{{checksum}}"
  version "{{version}}"
  bottle :unneeded
  def install
    bin.install "pet"
  end
  test do
    system "#{bin}/pet", "version"
  end
end
